@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Radio+Canada:ital,wght@0,400;1,300&display=swap');

body{
    background-color: white;
    margin:0;
    padding:0;
}
.picture{
    padding: 5px;
    top:20px;
    left:25px;
    right:40%;
    background-color: #003F62;
    position: absolute;
    border-radius: 10px;
    float: left;
    width: 600px;
    bottom: 20px;
}
#grocery{
    left:270px;
    height:300px;
    width:290px;
    top:150px;
    position:absolute;
}
#shopping{
    left:20px;
    height:230px;
    width:240px;
    padding:25px;
}
.picture p{
    color:white;
    position:relative;
    top: 150px;
    padding-left: 40px;
}
#sign{
    font-size: 30px;
    font-family: 'Radio Canada', sans-serif;
}
#lorem{
    font-size: 15px;
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
}
.logo {
    position: absolute;
    top:20px;
    right:30px;
    height:50px;
    width:100px;
    background-color: #003F62;
    border-radius: 10px;
    color: white;
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
}
.signin{
    position: relative;
    float: right;
    right:20%;
    top:80px;
    font-family: 'Radio Canada', sans-serif;

}
.signin h3{
    font-size: 20px;
}
.signin p a{
    color: #003F62;
    border: 0px;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    
}
.login{
    position: relative;
    float: right;
    padding-top: 180px;
    font-family: 'Radio Canada', sans-serif;
    width:300px;
    margin-top:20px;
    left:50px;
}

.login label{
    position:relative;
    top:20px;
    color: #999999;
}
.btn {
    background-color: #EDA415;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius:30px;
    cursor: pointer;
    width: 380px;
    opacity: 0.9;
    height: 30px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px rgba(53, 53, 53, 0.5);
}

.btn input{
    background: transparent;
    border: none;
    font-size: 16px;
    position: relative;
    left:170px;
    bottom:10px;
    color: white;
}
.input-box{
    position: relative;
    width: 400px;
    height: 50px;
    border-bottom: 2px solid #999999;
    padding-bottom: 10px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin: 10px 0;
    padding-left: 30px;
    color: #000842;
    top:5px;
    font-size: 15px;
}
#mail,#lock{
    position: absolute;
    top:28px;
    color: #999999;
}
#eye{
    position: absolute;
    top:28px;
    color: #999999;
    right:0px;
    cursor: pointer;
}
.remember{
    padding-top: 20px;
}
.remember label{
    position: inherit;
    font-size: 15px;
}
.remember a{
    position: relative;
    float: right;
    left:100px;
    color:#999999;
    text-decoration: none;
}
.signup{
    position: relative;
    float: right;
    left:25%;
    font-family: 'Radio-Canada', sans-serif;
    color: #999999;
    margin-top:37%;   
}
#apple,#google{
    width:30px;
    height:30px;
    padding-left: 5px;
}
#fb,#apple,#google{
    margin-top: 20px;
    text-decoration: none;
}
